/* Sidebar css */
.sidebar {
    border-right: 4px solid rgba(0,0,0,0.1);
    min-width: 13rem;
    background-color: #fff;
    z-index: 101;
    position: absolute;
    left: 0;
    top: 4rem;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul a {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    font-weight: 400;
    padding: 0.5rem;
    transition: all linear 0.2s;
}

.sidebar ul li {
    text-decoration: none;
    transition: all linear 0.2s;
}

.sidebar ul li:hover {
    transform: translateX(10px);
}
