@import "tailwindcss";

.bg-gradientColor{
    background: linear-gradient(180deg,#EEF1F4 0%, #F8F9FB 100%);
}

.primary-text {
    color: #000;
    font-weight: 900;
    font-size: 18px;
}

.dashboard {
    display: flex;
    flex-direction: row;
    width: 100vw;
}

.dashboard>.sidebar {
    min-width: 13rem;
}

.dashboard>div:last-child {
    flex: 1;
}

.secondary-text {
    color: #28283C;
    font-weight: 400;
    font-size: 15px;
}

.tertiary-font {
    font-size: 14px;
    color: #555;
}

.white-bg {
    color: #FFFFFF;
}

.green {
    color: #1F9D86;
}

.icon {
    font-size: 2.35rem !important;
    color: #000;
    margin: 0 1rem 0 0;
}

/* For All Pages */
.container {
    min-width: 100vw;
    display: flex;
    flex-direction: column;
    height: calc(100dvh - 4rem);
    padding: 0.5rem;
    background-color: #F5F5F5;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-x: hidden;
}

.container::-webkit-scrollbar {
    display: none;
}

.container::-webkit-scrollbar {
    display: none;
}

.subContainer {
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: -2px -2px 2px rgba(0,0,0,0.1);
    border-radius: 1rem;
}

.ui-container {
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    padding: 0.5rem 1rem;
    margin: 0 0 0.5rem;
}

/* home css */

.home-main>div:last-child {
    border-radius: 1rem;
    background-color: #EAEFEF;
    border: 2px solid rgba(0,0,0,0.1);
    position: relative;
}

.home-main>div:last-child>h1 {
    padding: 0.5rem;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.1);
}

.home-main>div:last-child>div:last-child {
    padding: 0 0.5rem;
    margin-top: 0.5rem;
}

.home-main>div:last-child>div:last-child>.card {
    margin-bottom: 0.5rem;
    background-color: white;
}

/* overview-container css */

.overview-container {
    min-height: fit-content;
    padding: 1rem 1rem 0.5rem;
    background-color: #FAFAFA;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    margin-bottom: 0.5rem;
    border: 2px solid rgba(234, 239, 239, 1);
}

.overview-container h2 {
    font-size: 1.25rem;
    font-weight: 600;
}

.overview-container h1 {
    font-size: 24px;
}

.overview-container #overallProgress {
    width: 75%;
    height: 0.5rem;
    overflow: hidden;
}

.overview-container #overallProgress::-webkit-progress-bar {
    background-color: orange;
    border-radius: 1.5rem;
}

#overallProgress::-webkit-progress-value {
    background-color: #1F9D86;
    border-radius: 1.5rem;
}

.overview-container div {
    height: 3.25rem;
    width: 6rem;
    position: absolute;
    top: 2.4rem;
    right: 0.5rem;
    margin-left: 0.25rem;
    color: black;
    font-weight: 600;
    text-align: center;
    padding: 0.15rem;
    background: transparent;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 0.5rem;
    transform: rotate(30deg);
}

/* Attendence page css */
/* AttendInsights css */
.attend-insights {
    background-color: #EAEFEF;
    padding-bottom: 0.125rem; 
    border-radius: 1rem;
    margin-top: 0.5rem;
}

.attend-insights>div:first-child {
    margin: 0.5rem 0.75rem 0.25rem;
}

.attend-insights div:first-child h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* attendIinsightsNav css */
.attend-insights-nav {
  display: flex;             
  width: fit-content;       
  padding: 0.25rem 0.5rem;
  gap: 1rem;                    
  font-weight: 600;  
  border-radius: 0;
  background-color: transparent;   
}

.attend-insights-nav a {
    padding: 0.3rem 0.9rem;
    border-radius: 0.3rem;
    background-color: #F5F5F5;
    transition: transform 0.3s ease;
    border: 2px solid rgba(0,0,0,0.1);
}

.attend-insights-nav a.active {
    background-color: #00bcd4;
    color: #fff;
    font-weight: 800;
    transform: scale(1.05);
}

.attend-insights .nav-content {
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 1rem;
    background-color: #FAFAFA;
}

/* DoughnutSub css */
.doughnut-container, .vBar-container {
    display: flex;
    flex-direction: column;
    padding-inline: 0.35rem;
}

.doughnut-container>div:first-child, .doughnutSub>div:first-child {
    height: 50%;
    display: flex; 
    justify-content: space-around;
    padding-bottom: 0.5rem;
    margin-inline: 0.2rem;
}

.doughnut-container>div:first-child div, .doughnutSub>div:first-child div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 ;
}

.doughnut-container>div:last-child {
    border-top: 2px solid rgba(0,0,0,0.1);
}

.doughnut-container canvas {
    width: 50vw !important;
    height: 50vw !important;
}

/* VerticallBar Css */
.vBar-container {
    margin-top: 1rem;
    justify-content: flex-start;   
}

.vBar-container canvas {
    height: 80% !important;
    margin-bottom: 0.5rem;
}

/* Course css */
/* card container */


/* Card css */
.card, .dropDown {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: #F5F5F5;
    border: 1px solid rgba(0,0,0,0.1);
    box-shadow: -2px -2px 2px rgba(0,0,0,0.1);
    box-shadow: 4px 4px 2px rgba(0,0,0,0.1);
}

.card>div:first-child {
    display: flex;
    padding: 0.5rem;
    gap: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgba(0,0,0,0.1);

}

.card>div:first-child>div:first-child {
    min-width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    background: linear-gradient(135deg, #6EE7B7, #3B82F6);
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.card>div:nth-child(2) {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
}

.dropDown {
    box-shadow: none;
    border: 2px solid rgba(0,0,0,0.1);
}

.dropDown p {
    border-bottom: 2px solid rgba(0,0,0,0.1);
    border-radius: 4px;
    padding-inline: 0.5rem;
}

/* CoursesOverviewUi css */
.CoursesOverviewUi {
    background: linear-gradient(90deg,rgba(2, 0, 36, 0.93) 0%, 
    rgba(9, 9, 121, 0.93) 35%, rgba(0, 217, 255, 0.83) 100%);
}

.CoursesOverviewUi div, .calculatorUi div {
    display: flex;
}

.CoursesOverviewUi div>div {
    display: flex;
    flex-direction: column;
}

.CoursesOverviewUi>p, .calculatorUi>p {
    display: flex;
    justify-content: space-between;
}

/* CalculatorUI css */
.calculatorUi {
    background: linear-gradient(90deg,rgba(42, 123, 155, 1) 0%, 
    rgba(87, 199, 133, 1) 50%, rgba(27, 169, 191, 0.98) 100%);
}