@import "tailwindcss";

.bg-gradientColor{
    background: linear-gradient(180deg,#EEF1F4 0%, #F8F9FB 100%);
}

.primary-text {
    color: #28283C;
    font-weight: 600;
}

.secondary-text {
    color: #333333;
    font-weight: 400;
}

.tertiary-font {
    font-size: 14px;
    color: #555;
}

.active-text {
    color: #555;
}

.white {
    color: #FFFFFF;
}

.green {
    color: #1F9D86;
}


/* For All Pages */
.container {
    display: flex;
    flex-direction: column;
    height: 100dvh;
    padding: 8px;
    background-color: #F5F5F5;
}

/* overview-container css */

.overview-container {
    min-height: 5rem;
    padding: 0.5rem 1rem;
    background-color: #EAEFEF;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 3px 4px rgba(0,0,0,0.1);
    margin-bottom: 1rem;
    border: 2px solid rgba(234, 239, 239, 1);
}

.overview-container h2 {
    font-size: 20px;
    font-weight: 600;
}

.overview-container h1 {
    font-size: 24px;
}

.overview-container #overallProgress {
    width: 75%;
    height: 0.5rem;
    overflow: hidden;
}

.overview-container #overallProgress::-webkit-progress-bar {
    background-color: orange;
    border-radius: 1.5rem;
}

#overallProgress::-webkit-progress-value {
    background-color: #1F9D86;
    border-radius: 1.5rem;
}

.overview-container div {
    height: 6rem;
    width: 6rem;
    position: absolute;
    top: 0.8rem;
    right: 0.5rem;
    margin-left: 0.25rem;
    color: white;
    font-weight: 600;
    text-align: center;
    padding: 1rem 0.5rem;
    background: linear-gradient(135deg, #5A8CFF, #7A5CFF);
    box-shadow: inset 0 0px 12px #fff;
    border-radius: 161px 133px 161px 133px;
}

/* .overview-container div::after {
    content: ' ';
    position: absolute;
    bottom: 0.3rem;
    right: 0.5rem;
    background: #FFC83D;
    height: 1.5rem;
    width: 1.5rem;
    box-shadow: inset 0 -4px 8px rgba(255, 255, 255, 0.6);
    clip-path: polygon(
        50% 0%, 
        61% 35%, 
        98% 35%, 
        68% 57%, 
        79% 91%, 
        50% 70%, 
        21% 91%, 
        32% 57%, 
        2% 35%, 
        39% 35%
    );
} */

/* Attendence page css */

.attend-header {
    margin-bottom: 12px;
    position: relative;
}

.attend-header img {
    max-height: 12.5rem;
    width: 100%;
    border-radius: 0.75rem;
}

.attend-header div {
    position: absolute;
    top: 1rem;
    left: 1rem;
    font-size: 1.5rem;
}

.attend-header div p:nth-last-child(1) {
    font-size: 0.75rem;
}

/* AttendInsights css */
.attend-insights {
    flex: 1;
    display: flex;            
    flex-direction: column; 
    background-color: #EAEFEF;
    padding-bottom: 0.125rem; 
    border-radius: 1rem;
}

.attend-insights>div:first-child {
    height: 5rem;
    margin-inline: 0.75rem;
    margin-block: 0.75rem;
}

.attend-insights div:first-child h1 {
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
}

/* attendIinsightsNav css */
.attend-insights-nav {
  display: flex;             
  width: fit-content;       
  padding: 0.25rem 0.5rem;
  gap: 1rem;                    
  font-weight: 600;  
  border-radius: 0;
  background-color: transparent;   
}

.attend-insights-nav a {
    text-decoration: none;
    padding: 0.3rem 0.9rem;
    border-radius: 0.3rem;
    background-color: #F5F5F5;
    transition: all 0.25s linear;
}

.attend-insights-nav .active {
    background-color: #00bcd4;
    color: #fff;
    transform: scale(1.05);
}

.attend-insights .nav-content {
    height: calc(100% - 5rem);
    display: flex;
    flex-direction: column;
    margin-inline: 0.5rem;
    margin-block: 0.5rem;
    border-radius: 1rem;
    background-color: #FAFAFA;
}

/* DoughnutSub css */
.doughnut-container, .vBar-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-inline: 0.35rem;
}

.doughnut-container>div:first-child, .doughnutSub>div:first-child {
    height: 50%;
    display: flex; 
    padding-bottom: 0.5rem;
    margin-inline: 1rem;
}

.doughnut-container>div:first-child div, .doughnutSub>div:first-child div {
    margin: 3rem auto;
    text-align: center;
}

.doughnut-container>div:last-child {
    flex: 1;
    border-top: 2px solid #EAEFEF;
}

.doughnut-container .doughnutSub>div:first-child {
    height: 96%;
}

/* VerticallBar Css */
.vBar-container {
    margin-top: 1rem;
    justify-content: flex-start;   
}

.vBar-container canvas {
    height: 80% !important;
    margin-bottom: 0.5rem;
}
